Source: calcfiles
Section: utils
Priority: optional
Maintainer: Viktoriia Zhukovska <viktoria20020209@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 4.5.0
Homepage: https://github.com/zhu4ok/sys_programming.git
Package: calcfiles

Architecture: all
Depends: ${misc:Depends}, bash
Description: A simple script to calculate files in a directory
